<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Countries</h1>
    <ul>
        <% /* %>

            <% countries.forEach(function(country) { %>
            <li>
                <%= country.name %>
                <ul>
                    <li>Capital: <%= country.capital %></li>
                </ul>
            </li>
            <% }); %>
        
       <%  */ %>
       
       <% /* %>'matching with object.id' <% let country = countries.find(({id}) => id == paramId) %> <% let country = countries.find(({code}) => code == paramId) %><%  */ %>
       
       
       <li>
            <%= country.name %> 
            <ul>
                <li>Capital: <%= country.capital %></li>
            </ul>
        </li>
       
    </ul>
</body>
</html>